
.token-grid {
  display: grid;
  grid-column-gap: 0;
  grid-row-gap: 4px;
  grid-template-columns: repeat(3, 1fr);
}

.token-grid .row {
  height: 8px;
}

.token-grid .element {
  width: 4px;
  height: 8px;
}

.token-grid .element .full {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.token-grid .element .half {
  display: inline-block;
  height: 100%;
  width: 4px;
  vertical-align: top;
}

.token-grid .element .half#lsb {
  vertical-align: top;
  height: 75%;
}