
div.magnet-mutate-page {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

div.main-ui {
    flex: 75%;
}

div.generation-history {
    flex: 25%;
}

div.mask-pcts {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.mask-pcts input {
    width: 50px;
    margin: 5px;
}


div.inline-input-number {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.inline-input-number input {
    width: 30px;
    margin: 5px;
}

div.inline-input-number-80 input {
    width: 80px;
}

